<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 8.04.2020, 16:16</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello there!</p>
        </div>

        <div>
            <p>published: 4.04.2020, 16:16</p>
            <h2><a href="">My second post</a></h2>
            <p>Hello there! Again!</p>
        </div>
    </body>
</html>